<div class="container col-lg-7 col-md-7 col-sm-12 shadow-lg p-5 d-flex justify-content-center">

  <form [formGroup]="form" id="form" class="full-width">
    <div class="text-center row">
      <h1>Publique um jogo</h1><br/>
    </div>
    <br/>
    <div class="row">
      <div class="col-6">
        <label class="form-label">
          Nome do jogo
        </label>
        <input type="text" class="form-control shadow bg-body rounded" matInput placeholder="Insira o nome do jogo" formControlName="name" id="name" required="true"/>
      </div>

      <div class="col-6">
        <label class="form-label">
          Imagem
        </label>
        <input accept="image/*" class="form-control shadow bg-body rounded" type="file" id="formFile"
          onchange="document.getElementById('game-image').src = window.URL.createObjectURL(this.files[0])"/>
      </div>
    </div>

    <br/>

    <div class="row">
      <div class="col-6">
        <label class="form-label">
          Categoria
        </label>
        <input type="text" class="form-control shadow bg-body rounded" matInput placeholder="Insira a categoria" formControlName="genre" id="genre" required="true"/>
      </div>

      <div class="col-6" style="position: absolute; padding-left: 355px;">
        <img id="game-image" alt="your image" width="200" height="200" class="rounded" />
      </div>
    </div>

    <br/>

    <div class="row">
      <div class="col-6">
        <label class="form-label">
          Descrição
        </label>
        <textarea rows="3" class="form-control shadow bg-body rounded" matInput placeholder="Insira a descrição" formControlName="description" id="description" required="true"></textarea>
      </div>

      <div class="col-6" style="position: relative;">

      </div>
    </div>

    <br/><br/>

    <div class="row" align="center">
      <app-button
          title="Salvar"
          type="submit"
          color="primary"
          size="col-9"
          (click)="onSubmit()"
      ></app-button>
    </div>
    <br/>
    <div class="row" align="center">
      <app-button
          title="Cancelar"
          type="button"
          color="light"
          size="col-9"
          (click)="onCancel()"
      ></app-button>
    </div>
  </form>

</div>


