.navbar{
    height: 5rem;
}

.bi-joystick{
    margin-left: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    height: 2.8rem;
}

.navbar-brand{
    font-size: 1.8rem;
}

.nav-item {
    font-size: 1.2rem;
    margin: 1rem;
}

