<p class="h3">Exemplo de componentes</p>

<br/><hr/><br/>
<app-input-text
    id="text"
    label="Input Text Exemplo"
    placeholder="Input Text Exemplo"
    [disabled]="false"
    [required]="true"
>
</app-input-text>
<br/>
<app-input-email
    id="email"
    label="Input Email Exemplo"
    placeholder="Input Email Exemplo"
    [disabled]="false"
    [required]="true"
></app-input-email>
<br/>
<app-input-password
    id="password"
    label="Input Password Exemplo"
    placeholder="Input Password Exemplo"
    [disabled]="false"
    [required]="true"
></app-input-password>
<br/>
<app-input-textarea
    id="textarea"
    label="Input Textarea Exemplo"
    placeholder="Input Textarea Exemplo"
    [disabled]="false"
    [required]="true"
></app-input-textarea>
<br/><hr/><br/>
<app-button></app-button>
<br/><hr/><br/>
<app-modal></app-modal>